<div style="display:inline-block">
<div class="card" style="padding:15px; max-width:300px;">
<h3 class="text-uppercase"> <%= book.title %> </h3>
<%= link_to "Editar", edit_book_path(book) %>
<%= link_to "Eliminar", delete_path(book),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
<%= link_to "Ver notas", book_notes_path(book) %>
<%= link_to "Agregar nota", new_notes_path(book) %>
</div>
</div >