<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Bienvenido!</h3>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
                <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
              <div class="actions ">
              <%= f.submit "Iniciar sesion", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
            </div>
          <% end %>
          <hr>
          <p> Aun no posee una cuenta ? </p>
          <%= link_to('Registrarse', new_user_registration_path) %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
